{% extends 'base.html' %}
{% load static %}
{% block content %}

  <div class="container my-5 ">
    <!-- URL Breadcrumb Starts -->
    <nav aria-label="breadcrumb ">
      <ol class="breadcrumb bg-transparent ml-n3 ">
        <li class="breadcrumb-item "><a href="your_seller_account.html ">Your Seller Account</a></li>
        <li class="breadcrumb-item active text-danger " aria-current="page ">Add New Product</li>
      </ol>
    </nav> <!-- URL Breadcrumb Ends -->

    <h3>Add New Product</h3>

    <!-- Select Category Starts -->
    <div class="row ">
      <div class="col-md-12 d-flex justify-content-center ">
        <label for="productCategory " class="font-weight-bold mt-1 ">Select Category:</label>
        <select class="form-control d-inline ml-3 " style="width: 150px; " id="productCategory " name="productCategory ">
          <option>All</option>
          <option>Book</option>
          <option>Smartphone</option>
          <option>Furniture</option>
          <option>Fashion</option>
        </select>
      </div>
    </div> <!-- Select Category Ends -->

    
    <!-- Product Form Starts -->
    <form action="# " class="my-3 " enctype="multipart/form-data " autocomplete="off " novalidate>

      <!-- Product General Info Card Starts -->
      <div class="card mx-auto " style="width: 50rem; ">
        <div class="card-header bg-warning ">
          <p class="font-weight-bold mb-0 ">Product General Information</p>
        </div>
        <div class="card-body ">
          <div class="form-group ">
            <label for="productTitle ">Product Title:</label>
            <input type="text " placeholder="ABC Product " required class="form-control " id="productTitle ">
          </div>

          <div class="form-group ">
            <label for="productDescription ">Description:</label>
            <textarea class="form-control " id="productDescription " rows="3 " required></textarea>
            <small class="text-muted font-weight-bold ">Write description with comma(,) seperate values to create a list.</small>
          </div>

          <div class="form-group ">
            <label for="productPrice ">Product Price:</label>
            <input type="text " placeholder="150.00 " required class="form-control " id="productPrice ">
          </div>

          <div class="form-group ">
            <label for="productDiscount ">Product Discount(%):</label>
            <input type="text " placeholder="40 " required class="form-control " required id="productDiscount ">
          </div>

          <input type="text " value="book " name="productCategory " id="productCategory " hidden>
        </div>
      </div> <!-- Product General Info Card Ends -->
      
      <!-- Search Page Image Card Starts -->
      <div class="card mx-auto mt-3 " style="width: 50rem; ">
        <div class="card-header bg-warning ">
          <p class="font-weight-bold mb-0 ">Search Page Image Upload</p>
        </div>
        <div class="card-body ">
          <div class="row ">
            <div class="col-md-4 ">
              <div class="form-group ">
                <label for="searchPageImage ">Search Page Image:</label>
                <input type="file " class="form-control-file " id="searchPageImage " required>
                <small class="text-muted font-weight-bold ">( width >=130px or 170px <= Width ) And ( height = 218px )</small>
              </div>
            </div>

            <div class="col-md-8 ">
              <img src="img/add_new_product/search_page_image_help.png " class="img-fluid " alt="search page image " >
            </div>
          </div>
        </div>
      </div> <!-- Search Page Image Card Ends -->

      <!-- Product Main Page Image Card Starts -->
      <div class="card mx-auto mt-3 " style="width: 50rem; ">
        <div class="card-header bg-warning ">
          <p class="font-weight-bold mb-0 ">Product Main Page Image Upload</p>
        </div>
        <div class="card-body ">
          <div class="row ">
            <div class="col-md-4 ">
              <div class="form-group ">
                <label for="searchPageImage ">Product Main Page Image 01:</label>
                <input type="file " class="form-control-file " id="searchPageImage " required>
              </div>
              <div class="form-group ">
                <label for="searchPageImage ">Product Main Page Image 02:</label>
                <input type="file " class="form-control-file " id="searchPageImage " required>
              </div>
              <div class="form-group ">
                <label for="searchPageImage ">Product Main Page Image 03:</label>
                <input type="file " class="form-control-file " id="searchPageImage " required>
              </div>
              <div class="form-group ">
                <label for="searchPageImage ">Product Main Page Image 04:</label>
                <input type="file " class="form-control-file " id="searchPageImage " required>
              </div>
              <small class="text-muted font-weight-bold ">( width >=500px or 650px <= Width ) And ( height = 618px or 700px <= height )</small>
            </div>

            <div class="col-md-8 ">
              <img src="img/add_new_product/product_main_page_image_help.png " class="img-fluid " alt="search page image " >
            </div>
          </div>
        </div>
      </div> <!-- Product Main Page Image Card Ends -->


      <!-- Shopping Cart Page Image Card Starts -->
      <div class="card mx-auto mt-3 " style="width: 50rem; ">
        <div class="card-header bg-warning ">
          <p class="font-weight-bold mb-0 ">Shopping Cart Page Image Upload</p>
        </div>
        <div class="card-body ">
          <div class="row ">
            <div class="col-md-4 ">
              <div class="form-group ">
                <label for="searchPageImage ">Shopping Cart Page Image:</label>
                <input type="file " class="form-control-file " id="searchPageImage " required>
              </div>
              <small class="text-muted font-weight-bold ">( width >=180px ) And ( height = 180px )</small>
            </div>

            <div class="col-md-8 ">
              <img src="img/add_new_product/shopping_cart_image_help.png " class="img-fluid " alt="search page image " >
            </div>
          </div>
        </div>
      </div> <!-- Shopping Cart Page Image Card Ends -->



      <!-- Your Orders Page Image Card Starts -->
      <div class="card mx-auto mt-3 " style="width: 50rem; ">
        <div class="card-header bg-warning ">
          <p class="font-weight-bold mb-0 ">Your Orders Page Image Upload</p>
        </div>
        <div class="card-body ">
          <div class="row ">
            <div class="col-md-4 ">
              <div class="form-group ">
                <label for="searchPageImage ">Your Orders Page Image:</label>
                <input type="file " class="form-control-file " id="searchPageImage " required>
              </div>
              <small class="text-muted font-weight-bold ">( width >=57px or 60px <= width ) And ( height = 90px )</small>
            </div>

            <div class="col-md-8 ">
              <img src="img/add_new_product/your_orders_page_image_help.png " class="img-fluid " alt="search page image " >
            </div>
          </div>
        </div>
      </div> <!-- Your Orders Page Image Card Ends -->

      <div class="card mt-3 mx-auto " style="width: 50rem; ">
        <button type="submit " class="btn btn-sm btn-outline-danger ">
          <div class="card-body py-0 ">
            <i class="fas fa-cart-plus fa-3x "> Create</i>
          </div>
        </button>
      </div>
    </form>

  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj "
    crossorigin="anonymous "></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js "
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN "
    crossorigin="anonymous "></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js "
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV "
    crossorigin="anonymous "></script>
  <!-- Drawer JS File -->
  <script src="js/bootstrap-drawer.min.js "></script>
  <!-- Custom JavaScript -->
  <script src="js/custom.js "></script>
{% endblock %}