{% comment %} {% load cart_template_tags %} {% endcomment %}
{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">

        <a class="navbar-brand pl-2" href="navbar.html">
            <img src="{% static 'img/amazon_logo_white.png' %}" height="30" width="100" alt="amazon logo white"> 
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Search Bar Starts -->
            <form class="form-inline px-lg-5" novalidate method="get">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" name="btnCategory" type="button" id="btnCategoryDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All
            </button>
                            <div class="dropdown-menu" aria-labelledby="btnCategoryDropdownMenu">
                                <a class="dropdown-item" href="#">All</a>
                                {% for category in categories %}
                                <a class="dropdown-item" href="{% url 'category' category.slug %}">{{ category.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <input type="text" class="form-control" size="50" name="query" id="query">
                    <input type="text" name="category" id="category" value="book" hidden>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-warning">
            <i class="fas fa-search"></i>
            </button>
                    </div>
                </div>
            </form>
            <!-- Search Bar Ends -->
            <ul class="navbar-nav">
                <!-- Preffered Language Starts -->
                <li class="nav-item dropdown px-2">
                    <a class="nav-link" href="#" id="prefLanguageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-2x fa-language"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="prefLanguageDropdown">
                        <form class="p-3">
                            <div class="dropdown-divider"></div>
                            <div class="custom-control custom-radio mb-2">
                                <input class="custom-control-input" type="radio" name="prefLang" id="englishLang" value="english" checked>
                                <label class="custom-control-label" for="englishLang">
                <img src="img/flag/english.svg" alt="uk flag" width="50" height="30">
                </label>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="custom-control custom-radio mb-2">
                                <input class="custom-control-input" type="radio" name="prefLang" id="hindiLang" value="hindi" checked>
                                <label class="custom-control-label" for="hindiLang">
                <img src="img/flag/hindi.svg" alt="uk flag" width="50" height="30">
                </label>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="custom-control custom-radio mb-2">
                                <input class="custom-control-input" type="radio" name="prefLang" id="urduLang" value="urdu" checked>
                                <label class="custom-control-label" for="urduLang">
                <img src="img/flag/urdu.svg" alt="uk flag" width="50" height="30">
                </label>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" name="prefLang" id="banglaLang" value="bangla" checked>
                                <label class="custom-control-label" for="banglaLang">
                <img src="img/flag/bangla.svg" alt="uk flag" width="50" height="30">
                </label>
                            </div>
                            <div class="dropdown-divider"></div>
                        </form>
                    </div>
                </li>
                <!-- Preffered Language Ends -->
                <!-- User Account Starts -->
                <li class="nav-item dropdown px-2">
                    <a class="nav-link" href="login.html" id="userAccount" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-2x fa-user-circle"></i>
                    </a>
                    <div class="dropdown-menu px-3" aria-labelledby="userAccount">
                        <div class="d-flex flex-column justify-content-center">
                            <a href="login.html" class="btn btn-warning w-75 btn-sm font-weight-bold">Signin</a>
                            <small>New customer?<a href="register.html"> Start here.</a></small>
                        </div>
                    </div>
                </li>
                <!-- User Account Ends -->
                <!-- Shopping Cart Starts -->
                <li class="nav-item px-2">
                    <a class="nav-link" href="#" " aria-disabled=" true ">
            <i class="fas fa-2x text-light fa-shopping-cart "></i>
            <span class="badge badge-warning badge-pill ">0</span>
        </a>
        </li> <!-- Shopping Cart Starts -->
    </ul>
    </div>
</nav> <!-- Navbar Ends -->