{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Products Page Starts -->
  <div class="container my-5 ">
    <div class="row ">
      <!-- Left hand filter starts -->
      <div class="col-md-3 ">
        <p class="text-capitalize font-weight-bold ">avg. customer review</p>
        <button class="btn btn-sm bg-transparent ">
          <i class="fas fa-star " style="color: #ffa41c; "></i>
          <i class="fas fa-star " style="color: #ffa41c; "></i>
          <i class="fas fa-star " style="color: #ffa41c; "></i>
          <i class="fas fa-star " style="color: #ffa41c; "></i>
          <i class="far fa-star " style="color: #ffa41c; "></i>
          <span class="rating ">& Up</span>
        </button>
        <br />
        <button class="btn btn-sm bg-transparent ">
          <i class="fas fa-star " style="color: #ffa41c; "></i>
          <i class="fas fa-star " style="color: #ffa41c; "></i>
          <i class="fas fa-star " style="color: #ffa41c; "></i>
          <i class="far fa-star " style="color: #ffa41c; "></i>
          <i class="far fa-star " style="color: #ffa41c; "></i>
          <span class="rating ">& Up</span>
        </button>
        <br />
        <button class="btn btn-sm bg-transparent ">
          <i class="fas fa-star " style="color: #ffa41c; "></i>
          <i class="fas fa-star " style="color: #ffa41c; "></i>
          <i class="far fa-star " style="color: #ffa41c; "></i>
          <i class="far fa-star " style="color: #ffa41c; "></i>
          <i class="far fa-star " style="color: #ffa41c; "></i>
          <span class="rating ">& Up</span>
        </button>
        <br />
        <button class="btn btn-sm bg-transparent ">
          <i class="fas fa-star " style="color: #ffa41c; "></i>
          <i class="far fa-star " style="color: #ffa41c; "></i>
          <i class="far fa-star " style="color: #ffa41c; "></i>
          <i class="far fa-star " style="color: #ffa41c; "></i>
          <i class="far fa-star " style="color: #ffa41c; "></i>
          <span class="rating ">& Up</span>
        </button>
        <br />
      </div> <!-- Left hand filter ends -->

      <!-- Product list starts -->
      <div class="col-md-9 ">

        <!-- Single product detail starts -->
        <div class="row border-top py-3 ">
          <!-- Product image starts -->
          <div class="col-md-4 text-center ">
            <img src="img/product_images/product_list_image_01.svg " alt="product image 01 ">
          </div> <!-- Product image ends -->

          <!-- Product details starts -->
          <div class="col-md-8 ">
            <a href="# ">Oppo Mobile A56</a>
            <p class="text-muted my-0 ">Sold by : Narendra Modi</p>
            <p>
              <i class="fas fa-star " style="color: #ffa41c; "></i>
              <i class="far fa-star " style="color: #ffa41c; "></i>
              <i class="far fa-star " style="color: #ffa41c; "></i>
              <i class="far fa-star " style="color: #ffa41c; "></i>
              <i class="far fa-star " style="color: #ffa41c; "></i>
            </p>
            <p class="text-uppercase my-0 font-weight-bold text-danger ">
              <i class="fas fa-rupee-sign " style="font-size: 10px; "></i>150
            </p>
          </div> <!-- Product details ends -->

        </div> <!-- Single product detail ends -->

        <!-- Single product detail starts -->
        <div class="row border-top py-3 ">
          <!-- Product image starts -->
          <div class="col-md-4 text-center ">
            <img src="img/product_images/product_list_image_02.svg " alt="product image 01 ">
          </div> <!-- Product image ends -->

          <!-- Product details starts -->
          <div class="col-md-8 ">
            <a href="# ">ABC Phone</a>
            <p class="text-muted my-0 ">Sold by : Ganguly Tech</p>
            <p>
              <i class="fas fa-star " style="color: #ffa41c; "></i>
              <i class="fas fa-star " style="color: #ffa41c; "></i>
              <i class="fas fa-star " style="color: #ffa41c; "></i>
              <i class="far fa-star " style="color: #ffa41c; "></i>
              <i class="far fa-star " style="color: #ffa41c; "></i>
            </p>
            <p class="text-uppercase my-0 font-weight-bold text-danger ">
              <i class="fas fa-rupee-sign " style="font-size: 10px; "></i>11,569
            </p>
          </div> <!-- Product details ends -->

        </div> <!-- Single product detail ends -->


        <!-- Single product detail starts -->
        <div class="row border-top py-3 ">
          <!-- Product image starts -->
          <div class="col-md-4 text-center ">
            <img src="img/product_images/product_list_image_03.svg " alt="product image 01 ">
          </div> <!-- Product image ends -->

          <!-- Product details starts -->
          <div class="col-md-8 ">
            <a href="# ">Oppo Mobile A56</a>
            <p class="text-muted my-0 ">Sold by : Narendra Modi</p>
            <p>
              <i class="fas fa-star " style="color: #ffa41c; "></i>
              <i class="fas fa-star " style="color: #ffa41c; "></i>
              <i class="fas fa-star " style="color: #ffa41c; "></i>
              <i class="fas fa-star-half-alt " style="color: #ffa41c; "></i>
              <i class="far fa-star " style="color: #ffa41c; "></i>
            </p>
            <p class="text-uppercase my-0 font-weight-bold text-danger ">
              <i class="fas fa-rupee-sign " style="font-size: 10px; "></i>299
            </p>
          </div> <!-- Product details ends -->

        </div> <!-- Single product detail ends -->


        <!-- Single product detail starts -->
        <div class="row border-top py-3 ">
          <!-- Product image starts -->
          <div class="col-md-4 text-center ">
            <img src="img/product_images/product_list_image_03.svg " alt="product image 01 ">
          </div> <!-- Product image ends -->

          <!-- Product details starts -->
          <div class="col-md-8 ">
            <a href="# ">Oppo Mobile A56</a>
            <p class="text-muted my-0 ">Sold by : Narendra Modi</p>
            <p>
              <i class="fas fa-star " style="color: #ffa41c; "></i>
              <i class="fas fa-star " style="color: #ffa41c; "></i>
              <i class="fas fa-star " style="color: #ffa41c; "></i>
              <i class="fas fa-star-half-alt " style="color: #ffa41c; "></i>
              <i class="far fa-star " style="color: #ffa41c; "></i>
            </p>
            <p class="text-uppercase my-0 font-weight-bold text-danger ">
              <i class="fas fa-rupee-sign " style="font-size: 10px; "></i>299
            </p>
          </div> <!-- Product details ends -->

        </div> <!-- Single product detail ends -->


        <!-- Single product detail starts -->
        <div class="row border-top py-3 ">
          <!-- Product image starts -->
          <div class="col-md-4 text-center ">
            <img src="img/product_images/product_list_image_03.svg " alt="product image 01 ">
          </div> <!-- Product image ends -->

          <!-- Product details starts -->
          <div class="col-md-8 ">
            <a href="# ">Oppo Mobile A56</a>
            <p class="text-muted my-0 ">Sold by : Narendra Modi</p>
            <p>
              <i class="fas fa-star " style="color: #ffa41c; "></i>
              <i class="fas fa-star " style="color: #ffa41c; "></i>
              <i class="fas fa-star " style="color: #ffa41c; "></i>
              <i class="fas fa-star-half-alt " style="color: #ffa41c; "></i>
              <i class="far fa-star " style="color: #ffa41c; "></i>
            </p>
            <p class="text-uppercase my-0 font-weight-bold text-danger ">
              <i class="fas fa-rupee-sign " style="font-size: 10px; "></i>299
            </p>
          </div> <!-- Product details ends -->

        </div> <!-- Single product detail ends -->


        <!-- Single product detail starts -->
        <div class="row border-top py-3 ">
          <!-- Product image starts -->
          <div class="col-md-4 text-center ">
            <img src="img/product_images/product_list_image_03.svg " alt="product image 01 ">
          </div> <!-- Product image ends -->

          <!-- Product details starts -->
          <div class="col-md-8 ">
            <a href="# ">Oppo Mobile A56</a>
            <p class="text-muted my-0 ">Sold by : Narendra Modi</p>
            <p>
              <i class="fas fa-star " style="color: #ffa41c; "></i>
              <i class="fas fa-star " style="color: #ffa41c; "></i>
              <i class="fas fa-star " style="color: #ffa41c; "></i>
              <i class="fas fa-star-half-alt " style="color: #ffa41c; "></i>
              <i class="far fa-star " style="color: #ffa41c; "></i>
            </p>
            <p class="text-uppercase my-0 font-weight-bold text-danger ">
              <i class="fas fa-rupee-sign " style="font-size: 10px; "></i>299
            </p>
          </div> <!-- Product details ends -->

        </div> <!-- Single product detail ends -->

        <!-- Pagination Starts -->
        <div class="row border-bottom border-top pt-3 ">
          <div class="col-md-12 d-flex justify-content-center ">
            <nav aria-label="... ">
              <ul class="pagination ">
                <li class="page-item disabled ">
                  <a class="page-link " href="# " tabindex="-1 " aria-disabled="true ">
                    <i class="fas fa-long-arrow-alt-left "></i>
                     Previous
                  </a>
                </li>
                <li class="page-item "><a class="page-link " href="# ">1</a></li>
                <li class="page-item active " aria-current="page ">
                  <a class="page-link " href="# ">2 <span class="sr-only ">(current)</span></a>
                </li>
                <li class="page-item "><a class="page-link " href="# ">3</a></li>
                <li class="page-item ">
                  <a class="page-link " href="# ">
                    Next 
                    <i class="fas fa-long-arrow-alt-right "></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

      </div> <!-- Product list ends -->
    </div>
  </div>
{% endblock %}