{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container mb-5">
    <div class="card mx-auto mt-5 pb-3 shadow rounded" style="width: 25rem;">
      <div class="card-body">
        <h4 class="card-title">Register</h4>
        <!-- Register Form Start -->
        <form class="needs-validation" autocomplete="off" method="post" action="#" novalidate>
          {% csrf_token %}
          <div class="form-group">
            <label for="username">Your name: </label>
            <input type="text" name="name" class="form-control" placeholder="Ganguly Tech" id="userName" required minlength="10">
            <div class="valid-feedback">
              <i class="far text-success fa-thumbs-up"></i> OK
            </div>
            <div class="invalid-feedback">
              <i class="fas text-danger fa-exclamation-triangle"></i> Some error in your name.
            </div>
          </div>
          <div class="form-group">
            <label for="userEmail">Email: </label>
            <input type="email" name="email" class="form-control" placeholder="abc@abc.com" id="userEmail"
              aria-describedby="emailHelp" required>
            <small id="emailHelp" class="form-text text-muted"><i class="fas text-primary fa-info"></i> We'll never share your email with anyone else.</small>
            <div class="valid-feedback">
              <i class="far text-success fa-thumbs-up"></i> OK
            </div>
            <div class="invalid-feedback">
              <i class="fas text-danger fa-exclamation-triangle"></i> Some error in email.
            </div>
          </div>
          <div class="form-group">
            <label for="userPassword">Password: </label>
            <input type="password" class="form-control" placeholder="******" name="password" id="userPassword"
              aria-describedby="passwordHelp" required minlength="6">
            <small id="passwordHelp" class="form-text text-muted"><i class="fas text-primary fa-info"></i> Password must be at least 6 characters.</small>
            <div class="valid-feedback">
              <i class="far text-success fa-thumbs-up"></i> OK
            </div>
            <div class="invalid-feedback">
              <i class="fas text-danger fa-exclamation-triangle"></i> Some error in password.
            </div>
          </div>
          <div class="form-group">
            <label for="userPassword2">Password again: </label>
            <input type="password" class="form-control" placeholder="******" name="password2" id="userPassword2"
              aria-describedby="passwordHelp2" required minlength="6">
            <small id="passwordHelp2" class="form-text text-muted"><i class="fas text-primary fa-info"></i> Password must match the above.</small>
            <div class="valid-feedback">
              <i class="far text-success fa-thumbs-up"></i> OK
            </div>
            <div class="invalid-feedback">
              <i class="fas text-danger fa-exclamation-triangle"></i> Some error in re-type password.
            </div>
          </div>
          <button type="submit" class="btn btn-warning w-100 shadow btn-sm rounded">Register</button>
        </form> <!-- Register Form Ends -->

        <!-- OR Seperator -->
        <hr class="hr-text" data-content="OR">

        <!-- Create account button -->
        <p class="text-center">Already have an account? <a href="login.html">Sign in <i class="fas fa-caret-right"></i></a></p>
        <a href="#" class="btn btn-outline-success btn-sm w-100 mt-2">
          <i class="fab fa-google"></i> Sign in with Google
        </a>
        <a href="#" class="btn btn-outline-primary btn-sm w-100 mt-2">
          <i class="fab fa-facebook-square"></i> Sign in with Facebook
        </a>
      </div>
    </div>
  </div> <!-- Register Form Card Ends -->

  {% comment %} <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script> {% endcomment %}
{% endblock content %}