{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Select Devlivery Address -->
  <div class="container my-5 ">

    <!-- Progress Status -->
    <div class="d-flex flex-column ">
      <!-- Cart Movement -->
      <div class="d-flex flex-row text-uppercase justify-content-around " style="font-size: 12px; ">
        <p></p>
        <p class="mb-0 pb-0 "><i class="fas fa-cart-arrow-down fa-3x text-success "></i></p>
        <p></p>
        <p></p>
      </div>

      <!-- Progress bar starts -->
      <div class="progress " style="height: 5px; ">
        <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar " style="width: 25%; background-color: #e47911; "></div>
        <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar " style="width: 12.5%; background-color: #e47911; "></div>
        <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar " style="width: 0%; background-color: #e47911; "></div>
        <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar " style="width: 0%; background-color: #e47911; "></div>
      </div>

      <div class="d-flex flex-row text-uppercase justify-content-around " style="font-size: 12px; ">
        <p>sign in</p>
        <p class="font-weight-bold ">delivery & payment</p>
        <p class="text-muted ">place order</p>
        <p class="text-muted ">complete payment</p>
      </div>
    </div> <!-- Progress Status ends -->

    <h3>Select a delivery address</h3>
    <p>Is the address you'd like to use displayed below? If so, click the corresponding "Deliver to this address "
      button.</p>
    <h4>On the move? Pick up your order from our pickup store. </h4>
    <img src="img/amazon_pickup.svg " class="img-fluid " alt="amazon pickup ">
    <div class="dropdown-divider "></div>


    <div class="card my-3 " style="width: 18rem; ">
      <div class="card-body ">
        <p class="font-weight-bold my-0 py-0 ">Sandeep Ganguly</p>
        <p class="my-0 py-0 ">House No. 123</p>
        <p class="my-0 py-0 ">ABC</p>
        <p class="my-0 py-0 ">Kanpur, Uttar Pradesh 123456</p>
        <p class="my-0 py-0 ">India</p>
        <p class="my-0 py-0 ">Phone Number: 1234567890</p>
        <button class="btn btn-warning btn-block mt-3 btn-sm ">Deliver to this address</button>
      </div>
    </div>

    <div class="card my-3 " style="width: 18rem; ">
      <div class="card-body ">
        <p class="font-weight-bold my-0 py-0 ">Sandeep Ganguly</p>
        <p class="my-0 py-0 ">House No. 123</p>
        <p class="my-0 py-0 ">ABC</p>
        <p class="my-0 py-0 ">Kanpur, Uttar Pradesh 123456</p>
        <p class="my-0 py-0 ">India</p>
        <p class="my-0 py-0 ">Phone Number: 1234567890</p>
        <button class="btn btn-warning btn-block mt-3 btn-sm ">Deliver to this address</button>
      </div>
    </div>

    <div class="card my-3 " style="width: 18rem; ">
      <div class="card-body ">
        <p class="font-weight-bold my-0 py-0 ">Sandeep Ganguly</p>
        <p class="my-0 py-0 ">House No. 123</p>
        <p class="my-0 py-0 ">ABC</p>
        <p class="my-0 py-0 ">Kanpur, Uttar Pradesh 123456</p>
        <p class="my-0 py-0 ">India</p>
        <p class="my-0 py-0 ">Phone Number: 1234567890</p>
        <button class="btn btn-warning btn-block mt-3 btn-sm ">Deliver to this address</button>
      </div>
    </div>
  </div>
{% endblock %}