{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- Seller Account Intro Starts -->
  <div class="container-fluid mb-5 " >
    <div class="row ">
      <div class="col-md-12 p-5 text-white text-center " style="background-color: #008577; ">
        <h1>"Since last 6 years my friends wealth increased by 3000%, thanks to selling of BSNL, LIC, AIR India & etc on Amazon. "</h1>
        <p>Narendra Modi, <em>PMO India</em> (Amazon Seller)</p>
        <a href="your_seller_account.html " class="btn btn-warning rounded-pill ">Start selling</a>
        <p>It only takes 15 minutes to setup your account</p>
      </div>
    </div>

    <div class="row ">
      <div class="col-md-12 pl-5 pr-5 pt-3 pb-2 ">
        <h2>Why sell on Amazon?</h2>
      </div>
    </div>
    
    <div class="row ">
      <div class="col-md-4 p-5 ">
        <img src="img/seller_account/img_01.svg " class="mb-2 " height="100 " alt=" ">
        <h3>E-Commerce: Your next big sales channel</h3>
        <div>Start selling on Amazon - without building a website. Register now to start selling on Amazon.in.</div>
      </div>
      <div class="col-md-4 p-5 ">
        <img src="img/seller_account/img_02.svg " class="mb-2 " height="100 " alt=" ">
        <h3>Reach crores of customers</h3>
        <div>Sell to crores of engaged customer visiting Amazon.in on desktop and through our mobile app.</div>
      </div>
      <div class="col-md-4 p-5 ">
        <img src="img/seller_account/img_03.svg " class="mb-2 " height="100 " alt=" ">
        <h3>Receive timely payments</h3>
        <div >Amazon ensures your payments for your delivered orders are deposited directly in your bank account every 7 days.</div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj "
    crossorigin="anonymous "></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js "
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN "
    crossorigin="anonymous "></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js "
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV "
    crossorigin="anonymous "></script>
  <!-- Drawer JS File -->
  <script src="js/bootstrap-drawer.min.js "></script>
  <!-- Custom JavaScript -->
  <script src="js/custom.js "></script>
{% endblock %}