{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- Seller Profile -->
  <div class="container my-5 ">

    <!-- Top row -->
    <div class="row ">
      <!-- Seller Accont Details -->
      <div class="col-md-8 ">
        <h3>Appario Retail Private Ltd</h3>
        <p>
          <i class="fas fa-star text-warning "></i>
          <i class="fas fa-star text-warning "></i>
          <i class="fas fa-star text-warning "></i>
          <i class="fas fa-star text-warning "></i>
          <i class="fas fa-star-half-alt text-warning "></i>
          <span class="font-weight-bold ">88%</span> postive reviews
        </p>
        <p>Appario Retail Private Ltd is committed to providing each
          customer with the highest standard of customer service.</p>
      </div>

      <!-- Ask a question to sellers -->
      <div class="col-md-4 ">
        <div class="card " style="width: 18rem; background-color: #f6f6f6; ">
          <div class="card-body ">
            <h5 class="card-title ">Do you have a question for Appario Retail Private Ltd?</h5>
            <a href=" " class="btn btn-warning btn-sm ">Ask a question</a>
          </div>
        </div>
      </div>
    </div> <!-- Top row ends -->

    <!-- NavTab Starts -->
    <div class="row my-3 ">
      <div class="col-md-12 ">
        <ul class="nav nav-tabs " style="background-color: #f6f6f6; " id="myTab " role="tablist ">
          <li class="nav-item " role="presentation ">
            <a class="nav-link active " id="feedback-tab " data-toggle="tab " href="#feedback " role="tab "
              aria-controls="feedback " aria-selected="true ">Feedback</a>
          </li>
          <li class="nav-item " role="presentation ">
            <a class="nav-link " id="profile-tab " data-toggle="tab " href="#support " role="tab " aria-controls="support "
              aria-selected="false ">return, warranties and refunds</a>
          </li>
          <li class="nav-item " role="presentation ">
            <a class="nav-link " id="shipping-tab " data-toggle="tab " href="#shipping " role="tab " aria-controls="shipping "
              aria-selected="false ">Shipping</a>
          </li>

          <li class="nav-item " role="presentation ">
            <a class="nav-link " id="product-tab " href="https://www.amazon.in " aria-controls="product "
              aria-selected="false ">Product</a>
          </li>
        </ul>

        <div class="tab-content " id="myTabContent ">
          <!-- Feedback Panel Starts -->
          <div class="tab-pane fade show active " id="feedback " role="tabpanel " aria-labelledby="feedback-tab ">
            <!-- Rating Row Starts -->
            <div class="row pt-3 pl-3 ">
              <!-- Star Rating Starts -->
              <div class="col-md-2 ">
                <P>
                  <i class="fas fa-star text-warning "></i>
                  <i class="fas fa-star text-warning "></i>
                  <i class="fas fa-star text-warning "></i>
                  <i class="fas fa-star text-warning "></i>
                  <i class="fas fa-star-half-alt text-warning "></i>
                </P>
              </div> <!-- Star Rating Ends -->

              <!-- Rating Text Starts -->
              <div class="col-md-6 ">
                <p class="font-italic mb-0 ">
                  "my parcel is open so i am not happy with your this type of bad sellers. "
                </p>
                <small class="text-muted ">By s.k on 2 October, 2020.</small>
              </div> <!-- Rating Text Ends -->
            </div> <!-- Rating Row Ends -->



            <!-- Rating Row Starts -->
            <div class="row pt-3 pl-3 ">
              <!-- Star Rating Starts -->
              <div class="col-md-2 ">
                <P>
                  <i class="fas fa-star text-warning "></i>
                  <i class="fas fa-star-half-alt text-warning "></i>
                  <i class="far fa-star text-warning "></i>
                  <i class="far fa-star text-warning "></i>
                  <i class="far fa-star text-warning "></i>
                </P>
              </div> <!-- Star Rating Ends -->

              <!-- Rating Text Starts -->
              <div class="col-md-6 ">
                <p class="font-italic mb-0 ">
                  "I have no any word about described seller and that product which is given me. quality making with bass booster is outstanding. So I am giving him 5star.Thanks lo... "
                </p>
                <small class="text-muted ">By SANJAYA KUMAR PRADHAN on 2 October, 2020. </small>
              </div> <!-- Rating Text Ends -->
            </div> <!-- Rating Row Ends -->



            <!-- Rating Row Starts -->
            <div class="row pt-3 pl-3 ">
              <!-- Star Rating Starts -->
              <div class="col-md-2 ">
                <P>
                  <i class="fas fa-star text-warning "></i>
                  <i class="fas fa-star text-warning "></i>
                  <i class="fas fa-star text-warning "></i>
                  <i class="fas fa-star text-warning "></i>
                  <i class="fas fa-star-half-alt text-warning "></i>
                </P>
              </div> <!-- Star Rating Ends -->

              <!-- Rating Text Starts -->
              <div class="col-md-6 ">
                <p class="font-italic mb-0 ">
                  "my parcel is open so i am not happy with your this type of bad sellers. "
                </p>
                <small class="text-muted ">By s.k on 2 October, 2020.</small>
              </div> <!-- Rating Text Ends -->
            </div> <!-- Rating Row Ends -->


            <!-- Rating Row Starts -->
            <div class="row pt-3 pl-3 ">
              <!-- Star Rating Starts -->
              <div class="col-md-2 ">
                <P>
                  <i class="fas fa-star text-warning "></i>
                  <i class="fas fa-star text-warning "></i>
                  <i class="fas fa-star text-warning "></i>
                  <i class="fas fa-star text-warning "></i>
                  <i class="fas fa-star-half-alt text-warning "></i>
                </P>
              </div> <!-- Star Rating Ends -->

              <!-- Rating Text Starts -->
              <div class="col-md-6 ">
                <p class="font-italic mb-0 ">
                  "my parcel is open so i am not happy with your this type of bad sellers. "
                </p>
                <small class="text-muted ">By s.k on 2 October, 2020.</small>
              </div> <!-- Rating Text Ends -->
            </div> <!-- Rating Row Ends -->

            <div class="row mt-5 ">
              <div class="col-md-12 text-center ">
                <p>
                  <a href="# ">Previous</a>
                  <a href="# " class="ml-2 ">Next</a>
                </p>
              </div>
            </div>
          </div> <!-- Feedback Panel Ends -->

          <!-- Support Panel Starts -->
          <div class="tab-pane fade " id="support " role="tabpanel " aria-labelledby="support-tab ">
            <div class="mt-3 ml-3 ">
              <p>Please refer to the Amazon.in Return Policy.</p>
            </div>
          </div> <!-- Support Panel Ends -->


          <!-- Shipping Panel Starts -->
          <div class="tab-pane fade " id="shipping " role="tabpanel " aria-labelledby="shipping-tab ">
            <div class="mt-3 ml-3 ">
              <p>This item is Fulfilled by Amazon.in and ships based on Amazon.in Shipping Rates and Policies.</p>
              <p>This item is Fulfilled by Amazon.in and ships based on Amazon.in Shipping Rates and Policies.</p>
            </div>
          </div> <!-- Shipping Panel Starts -->
        </div>
      </div>
    </div> <!-- NavTab Starts ends -->

  </div>





  <!-- Footer Starts -->
  <div class="container-fluid bg-dark px-0 ">
    <a href="#pageTop " class="btn btn-dark btn-block mb-5 ">Back to Top</a>

    <div class="container ">
      <div class="row text-white mb-5 ">

        <div class="col-md-3 ">
          <h5>Get to know us</h5>
          <a href="# " class="text-white ">About</a> <br />
          <a href="# " class="text-white ">Careers</a> <br />
          <a href="# " class="text-white ">Press Release</a> <br />
          <a href="# " class="text-white ">Investment</a> <br />
          <a href="# " class="text-white ">Offers</a> <br />
        </div>

        <div class="col-md-3 ">
          <h5>Connect With Us</h5>
          <a href="# " class="text-white ">Facebook</a> <br />
          <a href="# " class="text-white ">Twitter</a> <br />
          <a href="# " class="text-white ">Instagram</a> <br />
        </div>

        <div class="col-md-3 ">
          <h5>Make Money With Us</h5>
          <a href="# " class="text-white ">Sell on Amazon</a> <br />
          <a href="# " class="text-white ">Affiliate Marketing</a> <br />
          <a href="# " class="text-white ">Fullfilment Center</a> <br />
          <a href="# " class="text-white ">Advertise Your Product</a> <br />
          <a href="# " class="text-white ">Amazon Pay</a> <br />
        </div>

        <div class="col-md-3 ">
          <h5>Let Us Help You</h5>
          <a href="# " class="text-white ">COVID 19</a> <br />
          <a href="# " class="text-white ">Your Account</a> <br />
          <a href="# " class="text-white ">Returns</a> <br />
          <a href="# " class="text-white ">Funding</a> <br />
          <a href="# " class="text-white ">Help</a> <br />
        </div>

      </div>
    </div>

    <div class="dropdown-divider mt-3 "></div>

    <div class="row mt-3 mx-0 px-0 ">
      <div class="col-md-12 text-center ">
        <img src="img/amazon_logo_white.png " height="30 " width="100 " alt="amazon logo white footer ">
      </div>
    </div>


    <!-- Sub footer starts -->
    <div class="py-3 mt-3 shadow-lg " style="background-color: #131a22; font-size: 12px; ">
      <div class="container ">

        <div class="row text-white ">

          <div class="col-md-3 ">
            <p>Get to know us</p>
            <a href="# " class="text-white ">About</a> <br />
            <a href="# " class="text-white ">Careers</a> <br />
            <a href="# " class="text-white ">Press Release</a> <br />
            <a href="# " class="text-white ">Investment</a> <br />
            <a href="# " class="text-white ">Offers</a> <br />
          </div>

          <div class="col-md-3 ">
            <p>Connect With Us</p>
            <a href="# " class="text-white ">Facebook</a> <br />
            <a href="# " class="text-white ">Twitter</a> <br />
            <a href="# " class="text-white ">Instagram</a> <br />
          </div>

          <div class="col-md-3 ">
            <p>Make Money With Us</p>
            <a href="# " class="text-white ">Sell on Amazon</a> <br />
            <a href="# " class="text-white ">Affiliate Marketing</a> <br />
            <a href="# " class="text-white ">Fullfilment Center</a> <br />
            <a href="# " class="text-white ">Advertise Your Product</a> <br />
            <a href="# " class="text-white ">Amazon Pay</a> <br />
          </div>

          <div class="col-md-3 ">
            <p>Let Us Help You</p>
            <a href="# " class="text-white ">COVID 19</a> <br />
            <a href="# " class="text-white ">Your Account</a> <br />
            <a href="# " class="text-white ">Returns</a> <br />
            <a href="# " class="text-white ">Funding</a> <br />
            <a href="# " class="text-white ">Help</a> <br />
          </div>

        </div>


        <div class="row my-5 ">
          <div class="col-md-12 text-center text-white ">
            <p>
              <i class="far fa-copyright "></i> 1996-2020, Amazon.com Inc.
            </p>
          </div>
        </div>

      </div>
    </div> <!-- Sub footer ends -->
{% endblock %}
