{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Shopping Cart Starts -->
  <div class="container my-5 ">

    <!-- Cart title start -->
    <div class="row ">
      <div class="col-md-8 ">
        <h3>Shopping Cart</h3>
        <p class="text-muted float-right mt-n3 " style="font-size: 13px; ">Price</p>
      </div>
    </div> <!-- Cart title ends -->

    <!-- Product list start -->
    <div class="row ">

      <!-- Product Detail start -->
      <div class="col-md-8 ">
        <!-- Product row starts -->
        <div class="row border-top py-3 ">
          <!-- Product image -->
          <div class="col-md-3 ">
            <img src="img/product_images/product02.png " class="img-fluid " alt="product 01 image ">
          </div>

          <!-- Product details -->
          <div class="col-md-9 ">
            <a href="# ">Oppo Mobile A56</a>
            <p class="text-uppercase font-weight-bold my-0 float-right ">
              <i class="fas fa-rupee-sign " style="font-size: 10px; "></i> <span>150.00</span>
            </p>
            <p class="text-muted my-0 ">Sold by : Narendra Modi</p>
            <p class="text-muted my-0 ">Paperback</p>

            <div class="d-flex flex-row mt-2 ">
              <!-- Quatinty select -->
              <div class="input-group " style="width: 90px; ">
                <div class="input-group-prepend ">
                  <button class="btn btn-info btn-sm ">-</button>
                </div>
                <input type="text " class="form-control form-control-sm " name="quantity " value="1 " id="quantity "
                  disabled>
                <div class="input-group-append ">
                  <button class="btn btn-info btn-sm ">+</button>
                </div>
              </div>

              <!-- Delete product from list -->
              <a href="# " class="ml-2 ">Delete</a>
            </div>
          </div>
        </div> <!-- Product row ends -->

        <!-- Product row starts -->
        <div class="row border-top py-3 ">
          <!-- Product image -->
          <div class="col-md-3 ">
            <img src="img/product_images/product03.png " class="img-fluid " alt="product 01 image ">
          </div>

          <!-- Product details -->
          <div class="col-md-9 ">
            <a href="# ">Oppo Mobile A56</a>
            <p class="text-uppercase font-weight-bold my-0 float-right ">
              <i class="fas fa-rupee-sign " style="font-size: 10px; "></i> <span>150.00</span>
            </p>
            <p class="text-muted my-0 ">Sold by : Narendra Modi</p>
            <p class="text-muted my-0 ">Paperback</p>

            <div class="d-flex flex-row mt-2 ">
              <!-- Quatinty select -->
              <div class="input-group " style="width: 90px; ">
                <div class="input-group-prepend ">
                  <button class="btn btn-info btn-sm ">-</button>
                </div>
                <input type="text " class="form-control form-control-sm " name="quantity " value="1 " id="quantity "
                  disabled>
                <div class="input-group-append ">
                  <button class="btn btn-info btn-sm ">+</button>
                </div>
              </div>

              <!-- Delete product from list -->
              <a href="# " class="ml-2 ">Delete</a>
            </div>
          </div>
        </div> <!-- Product row ends -->


        <!-- Product row starts -->
        <div class="row border-top py-3 ">
          <!-- Product image -->
          <div class="col-md-3 ">
            <img src="img/product_images/product03.png " class="img-fluid " alt="product 01 image ">
          </div>

          <!-- Product details -->
          <div class="col-md-9 ">
            <a href="# ">Oppo Mobile A56</a>
            <p class="text-uppercase font-weight-bold my-0 float-right ">
              <i class="fas fa-rupee-sign " style="font-size: 10px; "></i> <span>150.00</span>
            </p>
            <p class="text-muted my-0 ">Sold by : Narendra Modi</p>
            <p class="text-muted my-0 ">Paperback</p>

            <div class="d-flex flex-row mt-2 ">
              <!-- Quatinty select -->
              <div class="input-group " style="width: 90px; ">
                <div class="input-group-prepend ">
                  <button class="btn btn-info btn-sm ">-</button>
                </div>
                <input type="text " class="form-control form-control-sm " name="quantity " value="1 " id="quantity "
                  disabled>
                <div class="input-group-append ">
                  <button class="btn btn-info btn-sm ">+</button>
                </div>
              </div>

              <!-- Delete product from list -->
              <a href="# " class="ml-2 ">Delete</a>
            </div>
          </div>
        </div> <!-- Product row ends -->

        <!-- Product row starts -->
        <div class="row border-top py-3 ">
          <!-- Product image -->
          <div class="col-md-3 ">
            <img src="img/product_images/product03.png " class="img-fluid " alt="product 01 image ">
          </div>

          <!-- Product details -->
          <div class="col-md-9 ">
            <a href="# ">Oppo Mobile A56</a>
            <p class="text-uppercase font-weight-bold my-0 float-right ">
              <i class="fas fa-rupee-sign " style="font-size: 10px; "></i> <span>150.00</span>
            </p>
            <p class="text-muted my-0 ">Sold by : Narendra Modi</p>
            <p class="text-muted my-0 ">Paperback</p>

            <div class="d-flex flex-row mt-2 ">
              <!-- Quatinty select -->
              <div class="input-group " style="width: 90px; ">
                <div class="input-group-prepend ">
                  <button class="btn btn-info btn-sm ">-</button>
                </div>
                <input type="text " class="form-control form-control-sm " name="quantity " value="1 " id="quantity "
                  disabled>
                <div class="input-group-append ">
                  <button class="btn btn-info btn-sm ">+</button>
                </div>
              </div>

              <!-- Delete product from list -->
              <a href="# " class="ml-2 ">Delete</a>
            </div>
          </div>
        </div> <!-- Product row ends -->

        <!-- Product row starts -->
        <div class="row border-top py-3 ">
          <!-- Product image -->
          <div class="col-md-3 ">
            <img src="img/product_images/product03.png " class="img-fluid " alt="product 01 image ">
          </div>

          <!-- Product details -->
          <div class="col-md-9 ">
            <a href="# ">Oppo Mobile A56</a>
            <p class="text-uppercase font-weight-bold my-0 float-right ">
              <i class="fas fa-rupee-sign " style="font-size: 10px; "></i> <span>150.00</span>
            </p>
            <p class="text-muted my-0 ">Sold by : Narendra Modi</p>
            <p class="text-muted my-0 ">Paperback</p>

            <div class="d-flex flex-row mt-2 ">
              <!-- Quatinty select -->
              <div class="input-group " style="width: 90px; ">
                <div class="input-group-prepend ">
                  <button class="btn btn-info btn-sm ">-</button>
                </div>
                <input type="text " class="form-control form-control-sm " name="quantity " value="1 " id="quantity "
                  disabled>
                <div class="input-group-append ">
                  <button class="btn btn-info btn-sm ">+</button>
                </div>
              </div>

              <!-- Delete product from list -->
              <a href="# " class="ml-2 ">Delete</a>
            </div>
          </div>
        </div> <!-- Product row ends -->

        <!-- Sub total row starts -->
        <div class="row border-top py-3 ">
          <div class="col-md-12 ">
            <p class="float-right font-weight-bold ">
              Subtotal (5 items): <i class="fas fa-rupee-sign " style="font-size: 10px; "></i> 750.00 
            </p>
          </div>
        </div>
      </div> <!-- Product Detail end -->

      <!-- Proceed to buy card start -->
      <div class="col-md-4 text-center pl-md-5 pl-0 ">
        <img src="img/shopping_cart_image.svg " class="img-fluid mt-md-n5 mt-0 " alt="amazon image ">

        <div class="card my-3 ">
          <div class="card-header bg-transparent ">
            <p class="text-center text-success my-0 " style="font-size: 15px; ">
              <!-- <i class="fas fa-info-circle text-info "></i>
              Add ₹ 17.00 of eligible items to your order to qualify for FREE Delivery. -->
              <i class="fas fa-check "></i>
              Your order is eligible for FREE Delivery. 
            </p>
          </div>
          <div class="card-body text-center " style="background-color: #f3f3f3; ">
            <p class="font-weight-bold ">
              Subtotal (5 items): <i class="fas fa-rupee-sign " style="font-size: 10px; "></i> 750.00 
            </p>
            <a href="select_address.html " class="btn btn-warning btn-sm btn-block ">Proceed to buy</a>
          </div>
        </div>
      </div> <!-- Proceed to buy card end -->
    </div> <!-- Product list end -->


  </div> <!-- Shopping Cart Ends -->
{% endblock %}